(secure) {
  forward_auth {args[0]} authelia:9091 {
    uri /api/verify?rd=https://{$AUTHELIA_DOMAIN}
    copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
  }
}

{$AUTHELIA_DOMAIN} {
    reverse_proxy authelia:9091
}

{$API_EXTERNAL_DOMAIN} {
    reverse_proxy kong:8000
}

{$DASHBOARD_DOMAIN} {
    handle /storage/* {
        reverse_proxy kong:8000
    }

    handle /auth/* {
        reverse_proxy kong:8000
    }

    handle /* {
        import secure *
        reverse_proxy studio:3000
    }
}
